.Tool {
  border-radius: 0.45rem;
  border: 1px solid var(--border-color);
  overflow: hidden;
}
.Tool > button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  transition: all.3s;
  opacity: 0.3;
}

.Tool > button:hover {
  background-color: var(--color-gray-c);
}
.Tool > button.active {
  opacity: 1;
  background-color: var(--color-gray-c);
}
