.modalContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 34vw;
  max-width: 360px;
  min-width: 300px;
  padding: 2rem;
  border-radius: 0.75rem;
  background-color: var(--color-white); /* 모달 배경색 */
  z-index: 9999;
  transition: transform 0.3s ease;
  transform: translateY(-20px); /* 모달이 나타날 때 위에서 내려오는 효과 */
}
