.FocusInfo {
  display: flex;
  gap: 8px;
}
.ReviewTool {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 32px;
}
.InfoTitle {
  font-weight: bold;
}
.reviewBtn {
  padding: 10px 12px;
  border-radius: 0.75rem;
  background-image: linear-gradient(
    to top right,
    #ffbdad,
    #f6b6c5
  ); /* 변경된 색상 코드: to-yellow-500 */
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  font-weight: bolder;
  color: white;
  transition: all 0.3s;
}
@media (max-width: 960px) {
  .ReviewTool {
    padding: 0 15px;
  }
}

@media (max-width: 460px) {
  .FocusInfo {
    display: none;
  }
  .reviewBtn {
    width: 100%;
    justify-content: center;
  }
}
