.FocusInfo {
  padding: 12px 12px;
}
.FocusInfo > dt {
  font-size: 16px;
  font-weight: bold;
  color: var(--color-blue2);
}
.FocusInfo > dd {
  font-size: 13px;
  color: var(--color-gray-6);
}

.Header {
  font-size: 21px;
  font-weight: bold;
}
