.Box {
  display: flex;
  justify-content: space-between;
  background-color: var(--PageSize-bg);
  border-radius: 0.75rem;
  padding: 16px;
}
@media screen and (max-width: 768px) {
  .Component {
    max-width: 100%;
    margin: 0 auto;
  }
}
