.modalContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 560px;
  height: 620px;
  padding: 32px 36px;
  border-radius: 0.75rem;
  background-color: var(--color-white);
  z-index: 99999;
  transition: all 0.3s;
  overflow-y: scroll;
}

.inputField {
  width: 100%;
  margin-bottom: 32px;
}

.AddressSearchInfo {
  background-color: var(--rating-bg);
  padding: 8px 12px;
}

.AddressSearchInfo > h2 {
  font-size: 14px;
  font-weight: bolder;
}

.AddressSearchInfo li {
  position: relative;
  padding-left: 9px;
  font-size: 12px;
  color: var(--secondary-color);
}

.AddressSearchInfo li::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #999;
}

.CommentBtn {
  display: block;
  width: 6rem;
  height: 3rem;
  margin: 0 auto;
  border-radius: 0.75rem;
  background-image: linear-gradient(to top right, #ffbdad, #f6b6c5);
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  font-weight: bolder;
  color: white;
  transition: all 0.3s;
  opacity: 0.5;
}

.buttonActive {
  opacity: 1;
}

.buttonDisabled {
  opacity: 0.5;
}

.closeBtn {
  position: absolute;
  top: 12px;
  right: 12px;
}

.closeBtn svg {
  width: 24px;
  height: 24px;
}

.minText {
  font-size: 12px;
  color: rgb(211, 211, 211);
}

.introText {
  font-size: 12px;
  color: var(--ther-color);
}

.title {
  padding: 36px 0 12px 0;
  font-weight: bolder;
}

.reviewGrade {
  font-size: 24px;
  color: var(--product-shop-button-hover);
}

@media (max-width: 768px) {
  .modalContent {
    width: 98%;
    height: 600px;
    padding: 12px 12px;
    overflow-y: scroll;
  }
}
