.Tool {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}
.TotalPrice {
  height: 100px;
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 130px;
  padding: 16px 12px;
  border-radius: 0.75rem;
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.1),
    0 6px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
  z-index: 999;
}
.OrderBtn {
  width: 100%;
  height: 42px;
  border: none;
  border-radius: 0.75rem;
  background-color: #cbbcf6; /* 연보라색 */
  color: white;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 입체감 */
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.DisabledBtn {
  background-color: #e4ddf9; /* 연보라색 */
}
.OrderBtn:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  transform: translateY(-1px); /* 살짝 올라가는 효과 */
}

.OrderBtn:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: translateY(1px); /* 눌리는 효과 */
}

.InfoTool,
.InfoWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.InfoWrap > dd {
  font-weight: bold;
  font-size: 18px;
}
