.com {
  position: relative;
  max-width: 60rem;
  margin: 0 auto;
  padding-top: 50px;
}

@media (max-width: 768px) {
  .com {
    background-color: #f7f7f7;
    padding-top: 33px;
  }
}
