/* CommentTool */
/* 전체 컨테이너 */
.commentTool {
  margin: 0 auto;
  margin-top: 12px;
  margin-bottom: 32px;
  padding: 0 12px;
}

/* 댓글 목록 */
.commentMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

/* 개별 댓글 아이템 */
.commentMenuItem {
  border: 1px solid #e5e7eb;
  border-radius: 0.75rem;
  min-height: 10.5rem;
  padding: 10px 20px;
  width: 100%;
  box-shadow:
    0 10px 8px rgb(0 0 0 / 0.04),
    0 4px 3px rgb(0 0 0 / 0.1);
}

/* 댓글 정보 */
.commentInfoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.commentInfoContainer > span {
  font-size: 0.75rem;
  color: var(--secondary-color);
}

/* 댓글 텍스트 */
.commentText {
  font-size: 0.825rem;
}

/* 팝업 메뉴 스타일 */
.popContent {
  width: 70px;
  border: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
  padding: 2px;
  align-items: center;
  background-color: white;
  border-radius: 0.75rem;
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}

.popContent > * {
  width: 100%;
  height: 100%;
  padding: 2px 4px;
  transition: all 0.3s;
  font-size: 12px;
}

.popContent > *:hover {
  background-color: #f3f4f6;
}
.SizeTool {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0.45rem;
  border: 1px solid #d5d5d5;
  background: #fff;
  text-align: center;
  overflow: hidden;
  z-index: 9999;
  margin-bottom: 10px;
  width: 100%;
  height: 100%;
}
.span1 {
  border: 1px solid black;
}
.Empty {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  border: 1px solid var(--secondary-color);
  border-radius: 6px;
}
/* 반응형 스타일 */
@media (max-width: 960px) {
  .commentInfoContainer {
    flex-wrap: wrap;
    align-items: center;
  }
}
