/* CSS Properties Grouped */
.PageNationTool {
  /* Layout */
  display: flex;
  align-items: center;

  /* Box Model */
  gap: 4px;
  height: 100%;
  margin: 24px 0;
}

.Page {
  /* Box Model */
  width: 24px;
  height: 24px;
  border-radius: 0.5rem;

  /* Background */
  background-color: var(--rating-bg);
  border: 1px solid var(--border-line);

  /* Typography */
  color: var(--color-black); /* 밝은 텍스트 색상 */
  font-weight: 100;

  /* Transitions and Animation */
  transition: all 0.3s;
}

.Focus {
  /* Background */
  background-color: var(--secondary-color);

  /* Typography */
  font-weight: 600;
}
