.slmilarTool {
  margin: 0 auto 24px;
  background-color: #fff;
}

.similartitle {
  padding-top: 12px;
  margin-bottom: 1.025rem;
  font-size: 21px;
  font-weight: bold;
}

.sliderSlide {
  width: 100%;
  box-sizing: border-box;
}

.sliderSlide * {
  max-width: 100% !important;
}

.test > * {
  font-size: 12px;
}

.sliderthumbnail {
  border: 1px solid var(--focus-border-solid);
  width: 100%;
  margin: 0 auto 12px;
}

.slidertitle {
  font-size: 0.75rem;
}

.PriceTool {
  gap: 2px;
}

.PricePercentage {
  display: none;
}

.SalePrice {
  font-weight: bold;
  margin-right: 6px;
}

.btn {
  position: relative;
}

.btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.loading {
  position: absolute;
  right: 8px;
  animation: loading 1s infinite;
}

@keyframes loading {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@media (max-width: 960px) {
  .slmilarTool {
    padding: 0 15px;
  }
}
