/* Product Elements */
.thumbnail {
  border: 1px solid var(--product-thumbnail-color);
  min-width: 80px;
  max-width: 80px;
}

.tag {
  background-color: var(--Tag);
  border-radius: 0.75rem;
}

.title {
  font-weight: 600;
  color: var(--color-black);
  font-size: clamp(14px, 12px, 1.2rem);
}

.authors {
  display: flex;
  align-items: center;
  color: var(--secondary-color);
  font-size: clamp(12px, 2vw, 14px);
  letter-spacing: -0.1em;
  margin-bottom: 2px;
}

.SalePrice {
  display: none;
}
.PricePercentage {
  color: var(--percentage);
}
