.modalContainer {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition:
    opacity 0.3s ease,
    /* opacity 트랜지션 */ visibility 0.3s step-end,
    /* visibility는 트랜지션 후에 변경 */ max-height 0.5s ease; /* max-height 트랜지션 */
  z-index: 10;
  left: calc(110%);
  top: 0;
  width: 100%;
  max-height: 0; /* 초기 상태에서 max-height 0 */
}
.Icons {
  transition: all 0.3s;
}
.OpenIcons {
  rotate: 180deg;
}

.modalDown {
  left: calc(0%);

  top: calc(110%); /* bottom 값 추가 */
}

/* Modal visible */
.modalVisible {
  visibility: visible;
  opacity: 1;
  max-height: 200px; /* 트랜지션할 최대 높이 (필요에 ;;;;;;;;맞게 조정 가능) */
  transition:
    opacity 0.3s ease,
    max-height 0.3s ease,
    visibility 0s step-start;
}
