.TriggerBtn {
  width: 120px;
  height: 38px;
  border: 1px solid var(--border-color);
  border-radius: 0.45rem;
  background: #fff;
  text-align: start;
  padding: 0 8px;
  font-size: 13px;
}

.SizeTool {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  border: 1px solid var(--border-color);
  border-radius: 0.45rem;
  background: #fff;
  text-align: start;
  overflow: hidden;
  z-index: 9999;
  font-size: 13px;
}

.Item {
  width: 100%;
  height: 100%;
  padding: 8px;
  background-color: #fff;
  transition: background-color 0.3s ease-in-out;
  z-index: 9999;
}

.Item:hover {
  background-color: var(--color-gray-c);
}

.btn {
  text-align: start;
  width: 100%;
  height: 100%;
}
