.inputContainer {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .inputContainer {
    max-width: 100%;
    padding: 0 1rem;
  }
}
