.RePlace {
  width: 100%; /* w-full */
  border: 1px solid #4a5568; /* border border-gray-700 */
  padding: 1rem; /* p-4 */
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.1),
    0 6px 20px rgba(0, 0, 0, 0.1); /* bg-[#121212] */
  border-radius: 0.5rem; /* rounded-lg */
  text-align: center; /* text-center */
}
