.titleWrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

/* --- Info 관련 --- */
.FocusInfo {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-right: 12px;
}

.FocusInfo > dt {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: var(--border-color);
  color: #fff;
}

.FocusInfo > dd {
  font-size: 14px;
  color: var(--border-color);
}

/* 활성화된 Info */
.ActiveInfo > dt {
  background-color: var(--percentage);
  color: #fff;
}

.ActiveInfo > dd {
  font-weight: bold;
  color: #000;
}

/* --- 반응형 --- */
@media screen and (max-width: 768px) {
  .titleWrap {
    justify-content: center;
    margin: 72px 0 12px 0;
  }

  .title {
    display: none;
  }

  .FocusInfo > dt {
    width: 18px;
    height: 18px;
  }
}
