@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Book--ratio: 152 / 219.79;

  --color--cancel: #1e3768;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-black-rgb: 0, 0, 0;
  --color-gray-89: #898989;
  --color-gray-1: #111111;
  --color-gray-2: #232323;
  --color-gray-3: #333333;
  --color-gray-6: #666666;
  --color-gray-4: #4c4c4c;
  --color-gray-4-rgb: 76, 76, 76;
  /* Minimum WCAG AA Pass */
  --color-gray-8: #8c8c8c;
  /* Fail to WCAG AA */
  --color-gray-9: #6e6d6d29;
  --color-gray-a: #aaaaaa;
  --color-gray-c: #cccccc;
  --color-gray-d: #dddddd;
  --color-gray-e: #eeeeee;
  --color-gray-f: #f6f6f6;
  --color-gray-f: rgba(156 163 175 1);

  --color-bg: #f6f6f6;
  --color-blue: #0071f0;
  --color-blue2: #0c6eaf;
  /* Minimum WCAG AA Pass */
  --color-blue-dark: #0053b3;
  --color-blue-dark2: #005bac;
  --color-red: #eb0d00;
  /* Minimum WCAG AA Pass */
  --color-red-rgb: 235, 13, 0;
  --color-orange: #ff9500;
  --color-yellow: #ffcc00;
  --color-green: #26873e;
  /* Minimum WCAG AA Pass */
  --color-teal: #5ac8fa;
  --color-indigo: #5856d6;
  --color-purple: #af52de;
  --color-pink: #ff2d55;
  --test: 
  /* modal bg */
  /* p */ --color-em: #ff59e3;
  /*** Focus-componenets  /***
  /*  */
  --background-dark: #121212;
  --text-primary: #ffffff; /* 기본 텍스트 색상 - 밝은 색상 */
  --text-secondary: #b3b3b3; /* 서브 텍스트 색상 - 중간 밝기 */
  --text-emphasis: #ffcc00; /* 강조 텍스트 색상 - 눈에 띄는 색상 */
  --focus-border-solid: #cccccc;

  --focus-authors-size: 1.1vw;
  --focus-publisher-size: 0.89vw;

  --focus-book-review: 0.89vw;

  /*** best-seller-componenets  /***
  /* best-seller-category-color */
  --modal-bg: rgba(88, 88, 88, 0.5);
  --modal-bg1: rgba(31, 31, 31, 0.5);
  --modal-bg2: #424242;
  --modal-bg3: #f0f0f0;
  --close-btn: #b0b0b0;
  --best-seller-category-bg-color: #e8ba7d;
  --best-seller-category-bg-focus-color: #ffe2ad;
  --best-seller-category-text-color: #100202;
  --best-seller-category-hover-color: #dfcdac;
  /* best-seller-category-size */
  --best-seller-category-li-size: 140px;
  /* best-seller-pagesize-tool */
  --best-seller-pageSize-color: 240 5.26% 26.08%;
  --best-seller-pageSize-hover-color: #b3c0da; /* 

  /*** best-seller-componenets  /***
  /* product color */
  --product-thumbnail-color: #eaeaea;
  --product-contents-color: #cbcbcb;
  --product-authors: #b5b5b5;
  --product-percentage: #57586c;
  --product-price: #fff;
  --product-icons-color: #c5c5c5;
  /* product fontSize */
  --product-thumnail-size: 9rem;
  --product-contents-size: 12px;
  --product-icons-size: 11px;

  /*** util Button Color ***/
  /* Tag */
  --Tag: #a9b5f1;
  /* add */
  --product-addshop-button: #ea9d9f;
  --product-addshop-button-hover: #f6acad;
  --product-addshop-button-w: 110px;
  --product-addshop-button-h: 38px;
  /* buy */
  --product-shop-button: #879ec8;
  --product-shop-button-hover: #a3bef1;
  --product-shop-button-w: 110px;
  --product-shop-button-h: 38px;
  /* pagination */
  --best-seller-pagination-btn-bg: #ffbdad;
  --best-seller-pagination-focus-btn-bg: #ff8ca5;

  /* best-seller-componenets end*/

  /* Sizes */
  --w-idol-m: 132px;
  --w-idol: 140px;
  --h-idol: 220px;
  --h-nav: 44px;
  --h-footer: 32px;
  --x-scroll-aid: 52px;

  --Percentage-color: #906ffd; /* 차분한 블루 */
  --secondary-color: #868686; /* 연한 그레이 */
  --ther-color: #767676; /* 연한 그레이 */
  --background-color: #ffffff; /* 흰색 배경 */
  --text-color: #fec7c8; /* 진한 회색 텍스트 */
  --highlight-color: #dde6f6;

  --main-Shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --progressText: rgba(0, 0, 0, 0.06);
  --rating-bg: #f7f7f7;
  --border-color: #dcdcdc;
  --pink-Btn: background-image: linear-gradient(to top right, #ffbdad, #f6b6c5);
  --Info-bg: #f7f7f7 --color;
  --border-line: #e0e0e0;
  --comment-color: #292929;

  --next-ui-border: rgba(17, 17, 17, 0.15);
  --percentage: #4dac27;
  --Select-btn: #595959;

  /* pagesize */
  --PageSize-bg: #f7f7f7;
  --border-color: #d5d5d5;
}
