/* Container */
.ProductContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  max-width: 60rem;
  gap: 12px;
}

.ProductTool {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px 12px;
  border-radius: 0.75rem;
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.1),
    0 6px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
  z-index: 1;
}

.ProductTool:hover {
  box-shadow:
    0 10px 10px rgba(0, 0, 0, 0.1),
    0 14px 24px rgba(0, 0, 0, 0.1);
}

/* Product Elements */
.thumbnail {
  border: 1px solid var(--product-thumbnail-color);
}

.tool {
  width: 60%;
}

.tag {
  background-color: var(--Tag);
  border-radius: 0.75rem;
}

.title {
  font-weight: 500;
  color: var(--color-black);
  font-size: clamp(14px, 16px, 1.2rem);
}

.authors {
  display: flex;
  align-items: center;
  color: var(--secondary-color);
  font-size: clamp(12px, 2vw, 14px);
  letter-spacing: -0.1em;
  margin-bottom: 2px;
}

.PriceTool {
  display: flex;
  align-items: end;
  font-size: clamp(0.875rem, 0.875rem, 1rem);
}

.PricePercentage {
  color: var(--percentage);
}

.SalePrice {
  color: var(--ther-color);
  font-size: smaller;
}

.contents {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: clamp(0.7rem, 0.8rem, 0.875rem);
}

.comment {
  display: flex;
  align-items: center;
  color: var(--secondary-color);
  font-size: var(--product-contents-size);
  font-weight: 500;
}

/* Buttons */
.UtillBtn {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
}

.AddBtn {
  background-color: var(--product-addshop-button);
  width: var(--product-addshop-button-w);
  height: var(--product-addshop-button-h);
  border-radius: 0.75rem;
  transition: background-color 0.3s;
}

.AddBtn:hover {
  background-color: var(--product-addshop-button-hover);
}

.AddBtn > span {
  font-size: 12px;
  color: var(--color-white);
  font-weight: 600;
}
.MobileAddBtn {
  border-radius: 100%;
  border: 1px solid var(--secondary-color);
  padding: 4px;
}

.BuyBtn {
  background-color: var(--product-shop-button);
  width: var(--product-addshop-button-w);
  height: var(--product-addshop-button-h);
  border-radius: 0.75rem;
  transition: background-color 0.3s;
}

.BuyBtn:hover {
  background-color: var(--product-shop-button-hover);
}

.BuyBtn > span {
  font-size: 12px;
  color: var(--color-white);
  font-weight: 600;
}

.ColProductContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5개의 동일한 너비의 컬럼 */
  gap: 1rem; /* 각 요소 사이의 간격을 16px (기본적으로 1rem = 16px) */
}
.ColProductTool {
  position: relative;
  width: 100%;
  padding: 10px 6px;
  border-radius: 0.75rem;
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.1),
    0 6px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
  z-index: 1;
}
.Colthumbnail {
  display: flex;
  justify-content: center;
  align-self: center;
  border: 1px solid var(--product-thumbnail-color);
  width: 160px;
  margin-bottom: 4px;
}
.ColTool {
  width: 100%;
}
.Coltitle {
  font-weight: 500;
  color: var(--color-black);
  font-size: clamp(13px, 14px, 1.2rem);
}
.Colauthors {
  display: flex;
  align-items: center;
  color: var(--secondary-color);
  font-size: clamp(12px, 12px, 12px);
  letter-spacing: -0.1em;
  margin-bottom: 2px;
}

.ColPriceTool {
  display: flex;
  flex-direction: column;
}

.ColRatingTool {
  width: 100%;
  justify-content: space-between;
}

@media screen and (max-width: 960px) {
  .ColProductContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 5개의 동일한 너비의 컬럼 */
    gap: 1rem; /* 각 요소 사이의 간격을 16px (기본적으로 1rem = 16px) */
  }
  .Colthumbnail {
    display: flex;
    justify-content: center;
    width: 190px;
  }
}

@media screen and (max-width: 768px) {
  /* 여기에 720px 미만일 때 적용할 스타일을 입력하세요 */
  .contents {
    display: none;
  }

  .ColProductContainer {
    grid-template-columns: repeat(3, 1fr); /* 5개의 동일한 너비의 컬럼 */
  }
  .Colthumbnail {
    display: flex;
    justify-content: center;
    width: 180px;
  }
}

@media screen and (max-width: 640px) {
  .AddBtn {
    display: none;
  }
  .BuyBtn {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  /* 여기에 720px 미만일 때 적용할 스타일을 입력하세요 */
  .ColProductContainer {
    grid-template-columns: repeat(2, 1fr); /* 5개의 동일한 너비의 컬럼 */
  }
  .Colthumbnail {
    display: flex;
    justify-content: center;
    width: 190px;
  }
}
